.groups-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 12em;
    max-height: 13em;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 8px;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    position: relative;
}

.checkbox-container input[type="checkbox"]:checked {
    background-color: #3f51b5;
    border-color: #3f51b5;
}

.checkbox-container input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
}

.checkbox-container label {
    font-size: 14px;
    margin-right: 5px;
    color: #333;
}
