#message{
    width: 26em;
    height: 9.375em;
}


.date-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}


#cancel-scheduler-modal-button{
    margin-left: 0.5em;
}






